body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #11151c 0%, #11151c 35%, #11151c 100%);
}

.authContainer {
  display: flex;
  margin: 25vh auto;

  width: 65%;
  height: 50vh;

  background-color: white;
  border-radius: 6px;
}

.authContainer .items {
  width: 50%;
  height: 100%;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, white, black, white) 1;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.formContainer::-webkit-scrollbar {
  display: none;
}

.authForm {
  width: 75%;
}

.bankInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bankImg {
  width: 100%;
}

.registerForm{

  align-items: normal;
  padding: 5% 0px;

}
